
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


*{
  font-family: "Quicksand", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container,
.main
{
    width:1440px ;
    margin: 0px auto;
    
}

/* navbar  */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 1rem;
   /* background-color: chartreuse; */
}

.logo{
    display: flex;
    align-items: center;
}

#SCHOOL{
color:  rgba(17, 17, 17, 1);
font-size: 2rem;
font-weight: 700px;
text-align: left;
}

.nav-links, li{

    list-style: none;
    display: inline;
    margin-right: 30px;

}
.Home{
color: #FEA301;
}

.About{
color:  #01ACFD;
}

.Facilities{
color: rgba(5, 212, 223, 1);
}

.Admission{
color: rgba(93, 88, 239, 1);
}
.nav-links, li{
font-size: 1.25rem;
font-weight: 700px;

}

.Contact{  
padding: 10px 50px;
border-radius: 12px;
background:  rgba(254, 163, 1, 1);
border: none;
color: rgba(255, 255, 255, 1);
font-size: 1.25rem;
font-weight: 600px;



}