
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


*{
  font-family: "Quicksand", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container,
.main
{
    width:1440px ;
    margin: 0rem auto;
    
}

/* navbar  */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 1rem;
   /* background-color: chartreuse; */
}

.logo{
    display: flex;
    align-items: center;
}

#SCHOOL{
color:  rgba(17, 17, 17, 1);
font-size: 2rem;
font-weight: 700px;
text-align: left;
}

.nav-links, li{

    list-style: none;
    display: inline;
    margin-right: 30px;

}
.Home{
color: #FEA301;
}

.About{
color:  #01ACFD;
}

.Facilities{
color: rgba(5, 212, 223, 1);
}

.Admission{
color: rgba(93, 88, 239, 1);
}
.nav-links, li{
font-size: 1.25rem;
font-weight: 700px;

}

.Contact{  
padding: 10px 50px;
border-radius: 12px;
background:  rgba(254, 163, 1, 1);
border: none;
color: rgba(255, 255, 255, 1);
font-size: 1.25rem;
font-weight: 600px;



}

/* banner-section */

.banner-section{
    
    padding-top: 7.5rem;
    padding-bottom: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.banner-content{
width: 640px;


}

.banner-content h1{
    

font-size: 3.5rem;
text-align: left;

}
.text-orange{
    color: #FEA301;
    display: block;
}

.text-SkyBlue{
   color: #01ACFD; 
}

.banner-content p{
color: var(--Black, rgba(17, 17, 17, 1));
font-family: Quicksand;
font-style: Regular;
font-size: 1.25rem;
text-align: left;
margin: 1rem 0rem 1rem 0rem;
}

.Enroll{
font-style: Bold;
font-size: 1.25rem;
border: none;
padding: 0.50rem 1.30rem;
color: #FFFFFF;
border-radius: 12px;
background: var(--Black, rgba(17, 17, 17, 1));
}

/* Standard Curriculum */
.curriculum{
    padding-top: 5rem;
    background-image: url(../assets/bg.png);
}
.section-title{
color: rgba(0, 0, 0, 1);
font-size: 2.875rem; /* 46px */
font-weight: 700;
text-align: center;
}
.curriculum-cards{
    
    display: grid;
    grid-template-columns:repeat( 3, 1fr);
   padding-top:  5rem ;
    padding-bottom:5rem ;
}
.curriculum-card{
padding-top: 4rem;
gap: 24px;
display: flex;
flex-direction: column;
align-items: center;
width: 367.8px;
height: 476.78px;
box-sizing: border-box;
border: 0.94px solid rgba(255, 244, 220, 1);
border-radius: 18.86px;

}
.card-a{
border: 0.94px solid rgba(222, 245, 255, 1);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgba(222, 245, 255, 1) 0%,rgba(255, 255, 255, 0) 40%),rgba(255, 255, 255, 1);
}
.card-b{
border: 0.94px solid rgba(255, 244, 220, 1);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgba(255, 244, 220, 1) 0%,rgba(255, 255, 255, 0) 40%),rgba(255, 255, 255, 1);
}
.card-c{
border: 0.94px solid rgba(242, 232, 255, 1);
border-radius: 18.86px;
box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgba(238, 225, 255, 1) 0%,rgba(255, 255, 255, 0) 40%),rgba(255, 255, 255, 1);

}
.card-title{
    color: rgba(32, 32, 32, 1);
font-size: 1.70rem ;
font-weight: 700;
text-align: center;
}
.card-description{
color: rgba(128, 128, 128, 1);
font-size: 0.91rem;
font-weight: 500;
text-align: center;
}

.card-link-a{
    text-decoration: none;
    color: #64C8FF;

}

.card-link-b{

    text-decoration: none;
    color: #F0AA00;
    
}

.card-link-c{

    text-decoration: none;
    color: #8700FF;
    
}

.curriculum-nav{
    margin-bottom:5rem;
    gap: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.nav-btn{
    padding: 0.70rem;
    border-radius: 50%;
    color: #e9e7e7;
    background-color: #F0AA00;
    border: none;

}
/* Stories Layout */

.stories{
    background: url(../assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}

.stories-layout {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2rem;
  margin-top: 3rem;
}
.story-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
/* Left Featured Story */

.story-image, img{
    border-radius: 1rem 1rem 0rem 0rem;

}
    
.story-content{
  padding: 2.5rem 2rem 2rem;

    
}

.story-featured{
    
    width: 540.27px;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 1);
}

.story-image {
  position: relative;
}

.story-tag,  .story-tag-a {
  position: absolute;
  bottom: -1rem;
  left: 2rem;

  padding: 0.6rem 1.2rem;
  border-radius: 999px;
  background: rgba(60, 216, 232, 1);
  color: #fff;
  font-size: 0.875rem;
}

.story-title-a{
    
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}
.story-description{
color: rgba(102, 102, 102, 1);
font-size: 15.34px;
font-weight: 500;
text-align: left;
margin-top: 2rem;
}


/* Right Stories Grid */

.story{
/* Article */

width: 290.69px;
height: 301.61px;
border-radius: 1rem;
background: rgba(255, 255, 255, 1);
}
.story-title{
    padding: 2rem 2rem 2rem;
   
}








